html {
    background-color: hsl(30, 38%, 92%);
}

.anuncio {
    display: flex;
    width: 960px;
    max-width: 50%;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    left: 20%;
}


.coluna img {
    max-width: 105%;
    border-top-left-radius: 3%;
    border-end-start-radius: 3%;
}

.image-mobile {
    display: none;
}

.anuncio-info {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    max-width: 50%;
}

.perfume {
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    margin-left: 25px;
    font-size: 18px;
    letter-spacing: 8px;
    font-weight: 100;
}

.texto {
    font-family: 'Montserrat', sans-serif;
    height: 300;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 25px;
}

.preco {
    display: flex;
    flex-direction: row;
}

.valor-1 {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    margin-left: 25px;
    font-size: 25px;
}

.valor-2 {
    margin-left: 15px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-family: 'Fraunces', serif;
}

.coluna {
    display: flex;
    width: 100%;
    flex: 0 1 800px;
}

.nome-produto {
    font-family: 'Fira Code', monospace;
    font-family: 'Fraunces', serif;
    font-size: 35px;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
}



.botao {
    width: 80%;
    height: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 300;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    margin-left: 25px;
}

